* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 10px auto;
    padding: 20px;
    width: 50%;
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.search-container {
    display: flex;
    margin: 0 0 10px 0;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 0 0px 10px 0;
}

.todo-container {
    display: flex;
    justify-content: space-between;
}

.todo {
    margin: 10px;
}

input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 90%;
}

input:focus {
    outline: none;
    box-shadow: 0 0 3px grey;
}

button {
    padding: 5px 10px;
    background: none;
    border: 1px solid #eee;
    height: 27px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 5px;
}

button:focus {
    outline: none;
}

button:hover {
    background: #eeeeee;
}